<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orbbec.orbbecsdkexamples">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrbbecSdkExamples">
        <activity android:name=".activity.RecordPlaybackActivity" />
        <activity android:name=".activity.HotPluginActivity" />
        <activity android:name=".activity.SaveToDiskActivity" />
        <activity android:name=".activity.SensorControlActivity" />
        <activity android:name=".activity.SyncAlignViewerActivity" />
        <activity android:name=".activity.PointCloudActivity" />
        <activity android:name=".activity.HelloOrbbecActivity" />
        <activity android:name=".activity.DepthViewerActivity" />
        <activity android:name=".activity.InfraredViewerActivity" />
        <activity android:name=".activity.DoubleIRViewerActivity" />
        <activity android:name=".activity.ColorViewerActivity" />
        <activity android:name=".activity.ImuActivity" />
        <activity android:name=".activity.DepthModeActivity" />
        <activity android:name=".activity.MultiDeviceActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>